{% extends "bestellung_base.html" %}
{% load i18n %}

{% block title %}{% translate "Zuordnung Veranstaltungen zu Sprache des Fragebogens" %}{% endblock %}

{% block content %}
<h1>{% translate "Zuordnung Veranstaltungen zu Sprache des Fragebogens" %}</h1>

<table class="border">
	<tr>
		<th>{% translate "Veranstaltung" %}</th>
		<th>{% translate "Sprache" %}</th>
		<th>{% translate "Anzahl" %}</th>
		<th>{% translate "Typ" %}</th>
		<th>{% translate "gedruckt" %}</th>
		<th>{% translate "zurück" %}</th>
	</tr>
{% for v in veranstaltungen %}
	<tr class="cycle {% cycle 'row1' 'row2' %}">
		<td>{{v.name}}</td>
		<td>{% if v.sprache %}{{v.get_sprache_display}}{% else %}?{% endif %}</td>
		<td>{{v.anzahl}}</td>
		<td>{{v.typ}}</td>
		<td>[<span style="margin-left:12px;">]</span></td>
		<td>[<span style="margin-left:12px;">]</span></td>
	</tr>
{% endfor %}
</table>
{% endblock %}