{% extends "bestellung_base.html" %}
{% load i18n %}
{% load static %}

{% block extra_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/intern/fragebogensprache.css' %}" />
{% endblock %}

{% block title %}{% translate "Zuordnung Veranstaltungen zu Sprache des Fragebogens" %}{% endblock %}

{% block content %}
<h1>{% translate "Zuordnung Veranstaltungen zu Sprache des Fragebogens" %}</h1>

<table class="border">
    <thead>
        <tr>
            <th>{% translate "Veranstaltung" %}</th>
            <th>{% translate "Sprache" %}</th>
            <th>{% translate "Anzahl" %}</th>
            <th>{% translate "Typ" %}</th>
            <th>{% translate "Gedruckt" %}</th>
            <th>{% translate "Zurück" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for v in veranstaltungen %}
        <tr class="{% cycle 'row1' 'row2' %}">
            <td><strong>{{ v.name }}</strong></td>
            <td>{% if v.sprache %}{{ v.get_sprache_display }}{% else %}?{% endif %}</td>
            <td>{{ v.anzahl }}</td>
            <td>{{ v.typ }}</td>
            <td><span class="status-box"></span></td>
            <td><span class="status-box"></span></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}