{% extends "bestellung_base.html" %}

{% block title %}Anschreiben erzeugen{% endblock %}

{% block content %}
<h1>Anschreiben erzeugen</h1>

<p>Das Anschreiben ist ein Brief an die Veranstalter, der den Fragebögen beigefügt wird.</p>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
<p>
{% include 'includes/semesterauswahl.html' %}<br />
<label for="abgabedatum">Erhebungswoche:</label> <input type="text" id="erhebungswoche" name="erhebungswoche" value="{{erhebungswoche}}"></input><br />
</p>
<p>Zu erzeugende Datei:
<fieldset>
<input type="radio" id="anschreiben" name="vorlage" value="Anschreiben"><label for="anschreiben"> Anschreiben</label><br>
<input type="radio" id="aufkleber" name="vorlage" value="Aufkleber"><label for="aufkleber"> Aufkleber</label>
&nbsp;<label for="aufkleberanzahl">(Mindestteilnehmerzahl: </label> <input type="text" id="aufkleberanzahl" disabled name="anzahlaufkleber" value=0>)
</fieldset>
<p>
<input type="submit" name="submit" value="PDF erzeugen" />
</p>
</form>

{% if texlog %}
<h2>Fehler bei der Ausführung von pdflatex</h2>
<pre>{{texlog}}</pre>
{% endif %}
<script>
	let aufkleber = document.getElementById('aufkleber');
	let anschreiben = document.getElementById('anschreiben');
	let anzahl = document.getElementById('aufkleberanzahl');
	aufkleber.onclick = function(){
		let anzahl = document.getElementById('aufkleberanzahl');
		if(aufkleber.checked)
			anzahl.disabled = false;
		}
	anschreiben.onclick = function(){
			anzahl.disabled = true;
	}
</script>
{% endblock %}
