{% extends "bestellung_base.html" %}
{% load i18n %}

{% block title %}{% translate "Vorlesungsverzeichnis importieren" %}{% endblock %}

{% block content %}
<h1>{% translate "Vorlesungsverzeichnis importieren" %}</h1>

<p>{% translate "Das System erwartet eine XML-Datei, die aus TUCaN exportiert wurde und alle Veranstaltungen des Semesters enthält." %}</p>
<p>{% translate "Achtung: Upload und serverseitige Verarbeitung der Datei können aufgrund der großen Datenmenge etwas dauern." %}</p>
<p>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
{{ form }}
<input type="submit" name="submit" value="{% translate "Hochladen" %}" /> 
</form>
</p>
<p>{% blocktranslate %}<b>Hinweis</b> von Wolfgang Heenes, wie man mit Zugriff auf TUCaN (z.B. als Mitarbeiter des Studienbüros) diese Daten im passenden Format erhält, falls er mal nicht mehr dafür zuständig ist:<br />
<i>"Die Daten kommen aus dem Backend (Semesterangebot -> Vorlesungsverzeichnis erstellen). Es gibt auf dem Sharepoint KEINEN Report, der das KOMPLETTE Vorlesungsverzeichnis enthält."</i>{% endblocktranslate %}</p>
{% endblock %}