{% extends "bestellung_base.html" %}
{% load i18n %}
{% block title %}{% translate "Personendaten vervollständigen" %}{% endblock %}

{% block content %}
    <h1>{% translate "Personendaten vervollständigen" %}</h1>

    {% if persons %}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>{% blocktranslate %}Es sind noch {{ persons.count }} Personendaten zu bearbeiten.{% endblocktranslate %}</h2>

                {% for p in persons %}
                            <h2>
                                <a href="{% url 'feedback:import_vv_edit_users_update' pk=p.id %}">
                                    {{p.full_name}}
                                </a>
                            </h2>
                {% endfor %}
        </form>

    {% else %}
        <p>{% translate "Alle Veranstalter des aktuellen Semesters haben vollständige Personendaten." %}</p>
    {% endif %}
{% endblock %}