{% extends "bestellung_base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% translate "Interner Bereich" %}
{% endblock %}

{% block content %}
    <h1>{% translate "Interner Bereich" %}</h1>
    <ul>
        <li><a href="{% url 'admin:index' %}" target="_blank">{% translate "Verwaltung der Daten" %}</a></li>
        <li><a href="{% url 'feedback:rechte-uebernehmen' %}">{% translate "zu Veranstalter-Account wechseln" %}</a></li>
        <li><a href="{% url 'feedback:sendmail' %}">{% translate "Mail an Veranstalter verschicken" %}</a></li>
        <li><a href="{% url 'feedback:fragebogensprache' %}">{% translate "Zuordnung Veranstaltungen zu Fragebogensprache" %}</a></li>
        <li><a href="{% url 'feedback:lange_ohne_evaluation' %}">{% translate "Veranstaltungen die lange nicht mehr evaluiert wurden" %}</a></li>
        <li><a href="{% url 'feedback:free-questions' %}">{% translate "Liste der Veranstaltungen mit freien Fragen" %}</a></li>
        <li>
            <form action = "{% url 'feedback:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-link p-0" style="color: #009D81;">{% translate "Ausloggen" %}</button>
            </form>
        </li>
    </ul>
    <h3>{% translate "Status der Rückmeldungen durch die Veranstalter" %}</h3>
    <p>{% blocktranslate %}Aktuell haben wir {{ruck_veranst}} Rückmeldungen von {{all_veranst}} Veranstaltungen.{% endblocktranslate %}</p>
    <div style="width:{{width_progressbar}}px; background-color:#eeeeec;">
        <div style="width:{{width_progressbar_success}}px; background-color:#babdb6;">
            <p style="text-align:center;">{{relativ_result|floatformat:-2}}%</p>
        </div>
    </div>
    <h3>{% translate "Ablauf" %}</h3>
    <p>{% blocktranslate %}Dies sind nicht alle nötigen Schritte; siehe <a href="https://www.d120.de/bookstack/books/feedback/page/feedback-ablauf%C3%BCbersicht" target="_blank">Ablauf im bookstack</a>.{% endblocktranslate %}</p>

    <ol>
        <li><a href="{% url 'admin:feedback_semester_add' %}" target="_blank">{% translate "neues Semester anlegen" %}</a> ({% translate "aktuell" %}:
        {% if cur_semester %}{{cur_semester.short}}{% else %}{% translate "nicht Vorhanden" %}{% endif %})</li>
        <li><a href="{% url 'feedback:import_vv' %}">{% translate "Veranstaltungen aus VV importieren" %}</a> ({% translate "vor Bestellphase" %})</li>
        <li><a href="{% url 'feedback:import_vv_edit_users' %}">{% translate "Fehlende Personendaten nachtragen" %}</a> ({% translate "vor Bestellphase" %})</li>
        <li><a href="{% url 'feedback:status_final' %}">{% translate "Bestellphase abschließen" %}</a> ({% translate "nach Bestellphase" %})</li>
        <li><a href="{% url 'feedback:generate_letters' %}">{% translate "Anschreiben für Veranstalter erzeugen" %}</a> ({% translate "nach Bestellphase" %})</li>
        <li><a href="{% url 'feedback:export_veranstaltungen' %}">{% translate "Veranstaltungen für EvaSys exportieren" %}</a></li>
        <li><a href="{% url 'feedback:process-tans' %}">{% translate "TANs verarbeiten" %}</a>  ({% translate "nach der Bestellphase" %})</li>
        <li><a href="{% url 'feedback:import_ergebnisse' %}">{% translate "Ergebnisse aus EvaSys importieren" %}</a></li>
        <li><a href="{% url 'feedback:sync_ergebnisse' %}">{% translate "Rankings berechnen" %}</a> ({% translate "nach dem Ergebnis-Import" %})</li>
        {% if cur_semester %}
        <li><a href="{% url 'admin:feedback_semester_change' cur_semester.id %}" target="_blank">{% translate "Ergebnisse veröffentlichen" %}</a>{% blocktranslate %} (aktuell: sichtbar für {{cur_semester.get_sichtbarkeit_display}}){% endblocktranslate %}</li>
        {% endif %}
    </ol>
{% endblock %}

{% block backlink %}<!-- kein Backlink -->{% endblock %}
