{% extends "bestellung_base.html" %}

{% block title %}Mail versenden{% endblock %}

{% block content %}
    <h1>Mail an Veranstalter versenden</h1>

    <form method="post" action="">
        {% csrf_token %}
        <h2>Vorschau (Ersetzte Begriffe sind <span style="color: blue;">blau markiert</span>)</h2>
        <p>
            <em>Absender:</em> {{ from }}
            <br/>
            <em>Empfänger:</em> {{ to }} aus dem {{ semester_selected }}
        </p>

        <pre>
            <em>Betreff:</em> {{ subject_rendered }}
            {{ body_rendered|wordwrap:100 }}
        </pre>

        <input type="hidden" name="semester" value="{{ semester_selected.semester }}" />
        <input type="hidden" name="status_values" value="{{ recipient }}" />
        <input type="hidden" name="subject" value="{{ subject }}" />
        <input type="hidden" name="body" value="{{ body }}" />

        <input type="submit" name="aendern" value="Ändern" />
        <input type="submit" name="senden" value="Mails senden" />
    </form>
{% endblock %}
