{% extends "bestellung_base.html" %}

{% block title %}Mail versenden{% endblock %}

{% block content %}
<h1>Mail an Veranstalter versenden</h1>

<form method="post" action="">{% csrf_token %}
<p>{% include 'includes/semesterauswahl.html' %}</p>
<p>
<label for="selectRecipient" >
    Mail senden an Veranstaltung mit dem Status:
    <select id="selectRecipient" name="recipient">
        {% for choise in veranstaltung_status_choises %}
            <option value="{{ choise.0 }}">{{ choise.1 }}</option>
        {% endfor %}
    </select>
</label>





</p>

<!--
<input type="radio" name="recipient" id="recipient_cur_sem_all" value="cur_sem_all"{% if recipient == "cur_sem_all" %} checked="checked"{% endif %} /> 
 <label for="recipient_cur_sem_all">...alle Veranstalter.</label><br />
<input type="radio" name="recipient" id="recipient_cur_sem_missing_order" value="cur_sem_missing_order"{% if not recipient or recipient == "cur_sem_missing_order" %} checked="checked"{% endif %} />
 <label for="recipient_cur_sem_missing_order">...alle Veranstalter von Veranstaltungen, für die noch keine Bögen bestellt wurden.</label><br />
<input type="radio" name="recipient" id="recipient_cur_sem_ordert" value="cur_sem_ordert"{% if recipient == "cur_sem_ordert" %} checked="checked"{% endif %} /> 
 <label for="recipient_cur_sem_ordert">...alle Veranstalter von Veranstaltungen, für die Bögen bestellt wurden.</label><br />
<input type="radio" name="recipient" id="recipient_cur_sem_results" value="cur_sem_results"{% if recipient == "cur_sem_results" %} checked="checked"{% endif %} />
 <label for="recipient_cur_sem_results">...alle Veranstalter von Veranstaltungen, für die Ergebnisse vorliegen.</label><br />
-->

<p>
<label for="vorlage">Vorlage:</label><br />
<select size="1" name="vorlage" id="vorlage">
<option value="" selected="selected">---</option>
{% for v in vorlagen %}
<option value="{{ v.id }}">{{ v }}</option>
{% endfor %}
</select>
<input type="submit" name="uebernehmen" value="Vorlage übernehmen" />
</p>

<p>
<label for="subject">Betreff:</label><br />
<input type="text" size="70" maxlength="60" name="subject" id="subject" value="{{ subject }}" />
</p>
<p>
<label for="body">Mailtext:</label><br />
<textarea class="fullwidth" cols="70" rows="20" name="body" id="body">{{ body }}</textarea>
</p>
<p>
<input type="submit" name="vorschau" value="Vorschau" />
</p>
</form>

<h2>Verfügbare Variablen</h2>
<p><ul>
<li>&#123;&#123; veranstaltung &#125;&#125; - Name der Veranstaltung</li>
<li>&#123;&#123; link_veranstalter &#125;&#125; - Link zum Veranstalterbereich</li>
</ul></p>
{% endblock %}