{% extends "bestellung_base.html" %}
{% load i18n %}

{% block title %}{% translate "Mail versenden" %}{% endblock %}

{% block content %}
    <h1>{% translate "Mail an Veranstalter versenden" %}</h1>

    <form method="post" action="">
        {% csrf_token %}
        <h2>{% blocktranslate %}Vorschau (Ersetzte Begriffe sind <span style="color: blue;">blau markiert</span>){% endblocktranslate %}</h2>
        <p>
            <label><em>{% translate "Absender:" %}</em></label>
            {{ from }}

            <br>

            <label>{% blocktranslate %}<em>Empfänger:</em></label>
            {{ to }} aus dem {{ semester_selected }}{% endblocktranslate %}
            {% if tutoren == 'True' %}
                {{ is_tutoren }}
            {% endif %}
        </p>

        <pre>
            <em>{% translate "Betreff:" %}</em> {{ subject_rendered }}
            {{ body_rendered|wordwrap:100 }}
        </pre>

        <input type="hidden" name="semester" value="{{ semester_selected.semester }}" />
        <input type="hidden" name="status_values" value="{{ recipient }}" />
        <input type="hidden" name="subject" value="{{ subject }}" />
        <input type="hidden" name="body" value="{{ body }}" />
        <input type="hidden" name="tutoren" value="{{ tutoren }}" />

        <input type="submit" name="aendern" value="{% translate "Ändern" %}" />
        <input type="submit" name="senden" value="{% translate "Mails senden" %}" />
    </form>
{% endblock %}
