{% extends "bestellung_base.html" %}{% load static %}

{% block title %}Mail versenden{% endblock %}

{% block extra_header %}
    <script type="text/javascript" src="{% static 'jquery/jquery-1.4.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery-ui-1.8.6.custom.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'jquery/chosen/chosen.min.css' %}" />
    <script type="text/javascript" src="{% static 'jquery/chosen/chosen.jquery.min.js' %}"></script>
{% endblock %}

{% block javascript_block %}
    <script>
        $(".chosen-select").chosen();
    </script>
{% endblock %}

{% block content %}
<h1>Mail an Veranstalter versenden</h1>

<form method="post" action="">{% csrf_token %}
    <p>{% include 'includes/semesterauswahl.html' %}</p>
    <p>
        <label for="selectRecipient" >
            Mail senden an Veranstalter der Veranstaltung mit Bestellstatus:
            <select multiple class="chosen-select" style="width: 175px;" data-placeholder="Wähle einen Status..." id="selectRecipient" name="recipient">
                {% for choice in veranstaltung_status_choices %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
            </select>
        </label>
    </p>

    <p>
        <label for="selectTutoren">
            Mail auch an die Tutoren der jeweiligen Veranstaltungen schicken?
            <select id="selectTutoren" name="tutoren">
                {% for choice in tutoren_choices %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
            </select>
        </label>
    </p>

    <p>
        <label for="vorlage">Vorlage:</label><br />
        <select size="1" name="vorlage" id="vorlage">
            <option value="" selected="selected">---</option>
            {% for v in vorlagen %}
                <option value="{{ v.id }}">{{ v }}</option>
            {% endfor %}
        </select>
        <input type="submit" name="uebernehmen" value="Vorlage übernehmen" />
    </p>

    <p>
        <label for="subject">Betreff:</label><br />
        <input type="text" size="70" maxlength="60" name="subject" id="subject" value="{{ subject }}" />
    </p>

    <p>
        <label for="body">Mailtext:</label><br />
        <textarea class="fullwidth" cols="70" rows="20" name="body" id="body">{{ body }}</textarea>
    </p>

    <p>
        <input type="submit" name="vorschau" value="Vorschau" />
    </p>
</form>

<h2>Verfügbare Variablen</h2>
<p>
    <ul>
        <li>&#123;&#123; veranstaltung &#125;&#125; - Name der Veranstaltung</li>
        <li>&#123;&#123; link_veranstalter &#125;&#125; - Link zum Veranstalterbereich</li>
    </ul>
</p>
{% endblock %}