{% extends "bestellung_base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% translate "Interner Bereich" %}
{% endblock %}

{% block content %}
    <h1>{% translate "Bestellphase abschließen" %}</h1>
    <p>{% translate "Sie sind dabei die Bestellphase zu beenden. Möchten Sie das wirklich tun?" %}</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button class="primary" type="submit" name="submit">{% translate "Bestätigen" %}</button>
    </form>
{% endblock %}