{% extends "bestellung_base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% translate "Interner Bereich" %}
{% endblock %}

{% block content %}
    <h2>{% translate "Bestellphase abschließen" %}?</h2>
    <p>{% translate "Sie sind dabei die Bestellphase zu beenden. Möchten Sie das wirklich tun?" %}</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        &nbsp;<input type="submit" name="submit" value="{% translate "Bestätigen" %}" />
    </form>
{% endblock %}