{% extends "bestellung_base.html" %}
{% load static %}
{% load i18n %}

{% block extra_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/intern/tans/process_tans_preview.css' %}" />
{% endblock %}


{% block title %}{% translate "TANs verarbeiten" %}{% endblock %}
{% block content %}
<h1>{% translate "TANs verarbeiten" %}</h1>
<h2>{% translate "Vorschau" %}</h2>

{% if losungspreview %}
<div class="preview-box">
    <h3>{% translate "Losungsmail Vorschau" %}</h3>
    <hr>
    <pre class="preview-text">{{ losungspreview|wordwrap:100 }}</pre>
    <br>
    <button class="secondary" type="button"
            onclick="document.getElementById('collapselosungsrecipients').classList.toggle('show')">
        {% translate "Empfänger" %} <span class="badge">{{ losunglectures | length }}</span>
    </button>
    <div class="collapse-content" id="collapselosungsrecipients">
        <div class="card-inner">
            {{ losunglectures | unordered_list }}
        </div>
    </div>
</div>
{% endif %}

{% if tanpreview %}
<div class="preview-box">
    <h3>{% translate "TANmail Vorschau" %}</h3>
    <hr>
    <pre class="preview-text">{{ tanpreview|wordwrap:100 }}</pre>
    <br>
    <button class="secondary" type="button"
            onclick="document.getElementById('collapsetanrecipients').classList.toggle('show')">
        {% translate "Empfänger" %} <span class="badge">{{ tanlectures | length }}</span>
    </button>
    <div class="collapse-content" id="collapsetanrecipients">
        <div class="card-inner">
            {{ tanlectures | unordered_list }}
        </div>
    </div>
</div>
{% endif %}

<form action="" method="post" enctype="multipart/form-data" class="form-container">{% csrf_token %}
    <table class="form-table">
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
        {{ form }}
        {% endfor %}
        {% else %}
        {{ wizard.form }}
        {% endif %}
    </table>
    <div class="form-actions">
        {% if wizard.steps.prev %}
        <button class="secondary" name="wizard_goto_step" type="submit"
            value="{{ wizard.steps.prev }}">{% translate "Zurück" %}</button>
        {% endif %}
        <button class="primary push-right" type="submit" value="Next">{% translate "Absenden" %}</button>
    </div>
</form>
{% endblock %}