{% extends "bestellung_base.html" %}
{% load i18n %}

{% block extra_header %}
    <style>
        select {
            border: 1px solid #000000;
        }
        table {
            border-spacing: 10px;
        }
        table th {
            vertical-align: top;
        }
        table .helptext {
            color: rgba(184, 87, 0, 0.8);
        }
        .typography ul {
            margin: 0px;
            display: inline-block;
        }
        .typography ul li {
            list-style-type: none;
            margin: 0px;
        }
        .wizard_form_table label.required:after {
            color: #636363;
            content: '*'
        }

        .progressbar_container {
            overflow: hidden;
            margin-bottom: 7px;
        }
        .progressbar_container .progress_bar_item:first-child {
            border-radius: 7px 0px 0px 7px;
        }
        .progressbar_container .progress_bar_item:last-child {
            border-radius: 0px 7px 7px 0px;
        }


        .progress_bar_item {
            float: left;
            padding: 5px;
            background-color: #b5b5b5;
            cursor: default;
            border-right: 1px solid #636363;
        }
        .progress_bar_item.item_active {
            background-color: rgba(126, 255, 48, 0.75);
            cursor: pointer;
        }
        .item_disabled_active {
            background-color: rgb(1, 99, 34);
            color: #ffffff;
        }
        .progress_bar_item.item_active:hover {
            background-color: rgba(0, 255, 0, 0.38);
        }

    </style>
    {% block child_extra_header %}{% endblock %}
{% endblock %}
{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block title %}{% translate "Bestellprozess " %}{{ veranstaltung.name}}{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <a style="float: right" href="{% url 'feedback:logout' %}">{% translate "ausloggen" %}</a>
        <p style="font-size: 14px">{% translate "Bestellung für " %}<b>{{ veranstaltung.name }}</b>  {{ veranstaltung.semester }}</p>

        <div class="container progressbar_container">
            {% for step in progressbar %}
                {% if step.step_active %}
                    {% if step.step_key %}
                        <button class="progress_bar_item item_active" name="wizard_goto_step" type="submit" value="{{step.step_key }}">
                            {{ step.step_value }}
                        </button>
                    {% else %}
                        <div class="progress_bar_item item_disabled_active">{{ step.step_value }}</div>
                    {% endif %}
                {% else %}
                    <div class="progress_bar_item">{{ step.step_value }}</div>
                {% endif %}

            {% endfor %}
        </div>


        {% block feedback_veranstalter_pre_form %}{% endblock %}
        <table class="table wizard_form_table">
            {{ wizard.management_form }}
            {% block feedback_veranstalter_form %}
            {% endblock %}
        </table>
        {% block feedback_veranstalter_extra %}{% endblock %}
        <p style="color: #636363;">*{% translate "Pflichtfeld" %}</p>
        {% if wizard.steps.prev %}
            <button class="btn btn-secondary float-left" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% translate "Zurück" %}</button>&nbsp;
        {% endif %}

        {% if wizard.steps.next %}
            <input class="btn btn-primary float-right" type="submit" name="next_step" value="{% translate "Weiter" %}"/>
        {% endif %}

        {% if wizard.steps.current == wizard.steps.last %}
            <input class="btn btn-primary float-right" type="submit" name="save" value="{% translate "Speichern" %}"/>
        {% endif %}
    </form>

{% endblock %}

