{% extends "bestellung_base.html" %}
{% load i18n %}
{% load static %}

{% block extra_header %}
    <link rel="stylesheet" href="{% static 'style/formtools/base.css' %}">
    {% block child_extra_header %}{% endblock %}
{% endblock %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block title %}{% translate "Bestellprozess " %}{{ veranstaltung.name}}{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}

        <p id="veranstaltung-info">
            {% translate "Bestellung für" %}&nbsp;<b id="veranstaltung-name">{{ veranstaltung.name }}</b>&nbsp;{{ veranstaltung.semester }}
        </p>

        <div class="progressbar_container">
            {% for step in progressbar %}
                {% if step.step_active %}
                    {% if step.step_key %}
                        <button class="progress_bar_item item_active" name="wizard_goto_step" type="submit" value="{{step.step_key }}">
                            {{ step.step_value }}
                        </button>
                    {% else %}
                        <div class="progress_bar_item item_disabled_active">{{ step.step_value }}</div>
                    {% endif %}
                {% else %}
                    <div class="progress_bar_item">{{ step.step_value }}</div>
                {% endif %}

            {% endfor %}
        </div>


        {% block feedback_veranstalter_pre_form %}{% endblock %}

        <table class="table wizard_form_table">
            {{ wizard.management_form }}
            {% block feedback_veranstalter_form %}
            {% endblock %}
        </table>

        {% block feedback_veranstalter_extra %}{% endblock %}

        <p class="required-field">*{% translate "Pflichtfeld" %}</p>

        {% if wizard.steps.prev %}
            <button class="secondary" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">
                {% translate "Zurück" %}
            </button>
        {% endif %}

        {% if wizard.steps.next %}
            <button class="primary" type="submit" name="next_step">
                {% translate "Weiter" %}
            </button>
        {% endif %}

        {% if wizard.steps.current == wizard.steps.last %}
            <button class="primary" type="submit" name="save">
                {% translate "Speichern" %}
            </button>
        {% endif %}
    </form>

{% endblock %}

