{% extends "bestellung_base.html" %}

{% block extra_header %}
    <style>
        select {
            border: 1px solid #000000;
        }
        table {
            border-spacing: 10px;
        }
        table th {
            vertical-align: top;
        }
        table .helptext {
            color: rgba(184, 87, 0, 0.8);
        }
        .typography ul {
            margin: 0px;
            display: inline-block;
        }
        .typography ul li {
            list-style-type: none;
            margin: 0px;
        }
    </style>
{% endblock %}
{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block content %}
    {% if wizard.steps.count %}
        <p>Schritt {{ wizard.steps.step1 }} von {{ wizard.steps.count }}</p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ wizard.management_form }}
            {% block feedback_veranstalter_form %}
            {% endblock %}
        </table>

        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">Erster Schritt</button>&nbsp;
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Zurück</button>&nbsp;
        {% endif %}

        {% if wizard.steps.next %}
            <input type="submit" name="next_step" value="Weiter"/>
        {% endif %}

        {% if wizard.steps.current == wizard.steps.last %}
            <input type="submit" name="save" value="Speichern"/>
        {% endif %}
    </form>
{% endblock %}

