{% extends "formtools/wizard/base.html" %}
{% load i18n %}

{% block feedback_veranstalter_pre_form %}
    <h3>{% translate "Erfassung der Basisdaten" %}</h3>
    {% if past_semester_data %}
        <table style="border: 1px solid #636363;">
            <tr>
                <th>{% translate "Veranstaltung" %}</th>
                <th>{% translate "Bestellte Bögen" %}</th>
                <th>{% translate "Rückläufe" %}</th>
            </tr>
            {% for data in past_semester_data %}
                <tr>
                    <td>{{ data.veranstaltung }}</td>
                    <td align="center">{{ data.anzahl_bestellung }}</td>
                    <td align="center">{{ data.anzahl_ruecklauf }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block feedback_veranstalter_form %}
    {{ wizard.form }}
{% endblock %}