{% extends "formtools/wizard/base.html" %}
{% load i18n %}
{% load static %}

{% block child_extra_header %}
    <link rel="stylesheet" href="{% static 'style/formtools/basisdaten.css' %}">
{% endblock %}

{% block feedback_veranstalter_pre_form %}
    <h3 class="form-main-header">{% translate "Erfassung der Basisdaten" %}</h3>
    {% if past_semester_data %}
        <table id="past-sem-data-table">
            <tr>
                <th class="table-text">{% translate "Veranstaltung" %}</th>
                <th class="table-text">{% translate "Bestellte Bögen" %}</th>
                <th class="table-text">{% translate "Rückläufe" %}</th>
            </tr>
            {% for data in past_semester_data %}
                <tr>
                    <td class="table-text">{{ data.veranstaltung }}</td>
                    <td class="table-text">{{ data.anzahl_bestellung }}</td>
                    <td class="table-text">{{ data.anzahl_ruecklauf }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block feedback_veranstalter_form %}
    {{ wizard.form }}
{% endblock %}