{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% translate "Zusammenfassung der Bestelldaten" %}</title>

    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
        .summary_table {
            border-spacing: 5px;
        }
        .summary_table th {
            text-align: left;
            vertical-align: top;
        }
        .summary_table td p {
            margin-bottom: 0px;
        }
        .summary-label:first-letter {
            text-transform: uppercase;
        }
    </style>
</head>
<body>
	<h2>{% blocktranslate %}Zusammenfassung der Fragebogenbestellung für {{ veranstaltung }}{% endblocktranslate %}</h2>

    <table class="summary_table">

        {% for form_data in all_form_data %}
            <tr>
                <th class="summary-label">{{ form_data.label }}</th>
                <td>
                    {% if form_data.value.all %}
                        {% for query in form_data.value %}
                            <p>{{ query }}</p>
                        {% endfor %}
                    {% else %}
                        {{ form_data.value }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

    </table>
</body>
</html>
