{% extends "formtools/wizard/base.html" %}{% load static %}


{% block feedback_veranstalter_form %}
    <h3>Erfassung der Tutoren</h3>
    {{ wizard.form }}
{% endblock %}

{% block feedback_veranstalter_extra %}
    <div style="overflow: hidden">
        <div style="float: left">
            <button id="confirm_csv">Prüfen</button>
        </div>
    </div>
    <div class="clear_div">
        <div id="table_tutoren_csvview">
        </div>
    </div>
    <div style="clear: both"></div>
{% endblock %}

{% block child_extra_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'tutoren.css' %}" />

    <script type="text/javascript" src="{% static 'jquery/jquery-1.4.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery-ui-1.8.6.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'tutoren.js' %}"></script>

{% endblock %}

{% block javascript_block %}
<script>
    $(document).ready(function() {
        $("#confirm_csv").click(function() {
            create_csv_table(
                $("#table_tutoren_csvview"),
                $("#id_tutoren-csv_tutoren").val()
            );
            return false;
        });
    });
</script>
{% endblock %}