{% extends "bestellung_base.html" %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block content %}
    <p>Schritt {{ wizard.steps.step1 }} von {{ wizard.steps.count }}</p>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ wizard.management_form }}

            {% block feedback_veranstalter_form %}
            {% endblock %}

        </table>

        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">Erster Schritt</button>&nbsp;
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Zurück</button>&nbsp;
        {% endif %}

        <input type="submit" value="Weiter"/>
    </form>
{% endblock %}

