{% extends "formtools/wizard/base.html" %}{% load static %}
{% load i18n %}

<!-- not used tutor elements are commented out -->

{% block child_extra_header %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'style/tutoren.css' %}" /> -->
    <link rel="stylesheet" href="{% static 'style/formtools/zusammenfassung.css' %}">

    <!-- <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-ui/dist/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'tutoren.js' %}"></script> -->
{% endblock %}

{% block feedback_veranstalter_form %}
    <h2 class="form-main-header">{% translate "Zusammenfassung der Fragebogenbestellung" %}</h2>

    <table class="summary_table">
        {% for form_data in all_form_data %}
            <tr>
                <th class="summary-label">{{ form_data.label }}</th>
                <td>
                    {% if form_data.value.all %}
                        {% for query in form_data.value %}
                            <p>{{ query }}</p>
                        {% endfor %}
                    {% else %}
                        {{ form_data.value }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

    </table>
    <!-- {% if tutoren_csv %}
        <p class="tutoren_title">{% translate "Tutoren" %}</p>
        <div id="table_tutoren_csvview">{{ tutoren_csv }}</div>
    {% endif %} -->
{% endblock %}

{% block extra_javascript_block %}
<!-- <script>
    $(document).ready(function() {
        create_csv_table(
            $("#table_tutoren_csvview"),
            $("#table_tutoren_csvview").text()
        );
    });
</script> -->
{% endblock %}