<?xml version="1.0" encoding="UTF-8"?>{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
	<title>{% block title %}Leere Seite{% endblock %} - Evaluation der Lehre</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" type="text/css" href="https://www.fachschaft.informatik.tu-darmstadt.de/static/vendor/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="https://www.fachschaft.informatik.tu-darmstadt.de/static/vendor/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="https://www.fachschaft.informatik.tu-darmstadt.de/static/vendor/typeface-libre-franklin/index.css" />
  <link rel="stylesheet" type="text/css" href="https://www.fachschaft.informatik.tu-darmstadt.de/static/d120/css/custom.css" />
  <style>
      a, footer a:hover, .sidebar-nav a, .sidebar-nav a:hover {
          color:#009D81;
      }
      .header-navbar, .sidebar-active, .sidebar-active:hover, .sidebar-active:focus > a:hover, .sidebar-active > a:focus, #mainLogo {
          background-color:#009D81!important;
      }
      .sidebar-active, .sidebar-active:hover {
          border-left: 5px solid #009D81!important;
      }
  </style>

	<link rel="stylesheet" type="text/css" href="{% static 'ranking.css' %}" /> {% block extra_header %}{% endblock %}
</head>

<body>

	{% include 'd120/header.html' %}
	<div class="container">
		<div id="main" class="row">
			<div class="col-lg-3 col-md-4 col-sm-5">
				{% include 'd120/sidebar.html' %}
			</div>
			<div id="content" class="col-lg-9 col-md-8 col-xs-12 col-sm-7 pull-right typography">

				{% if request.session.orig_uid %}
				<div class="breadcrumbs">
					Du nutzt momentan die Rechte der Veranstalter von {{veranstaltung}}. <a href="{% url 'rechte_zuruecknehmen' %}">Zu meinem Account zurückkehren.</a>
				</div>
				{% endif %} {% if messages %}
				<ul class="messagelist">
					{% for message in messages %}
					<li class="{{ message.tags }}">{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %} {% block content %}{% endblock %}
				<br /> {% block backlink %}{% endblock %}
			</div>
		</div>
	</div>
		{% include 'd120/footer.html' %}
    {% block javascript_block %}
	<script src="https://www.fachschaft.informatik.tu-darmstadt.de/static/vendor/jquery/dist/jquery.min.js"></script>
	<script src="https://www.fachschaft.informatik.tu-darmstadt.de/static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    {% endblock %}
</body>

</html>
