<?xml version="1.0" encoding="UTF-8"?>{% load static %}{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
	<title>{% block title %}{% translate "Leere Seite" %}{% endblock %}{% translate " - Evaluation der Lehre" %}</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static '@fontsource/libre-franklin/index.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'style/custom.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'style/header.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'style/footer.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'style/sidebar.css' %}" />

	<link rel="stylesheet" type="text/css" href="{% static 'style/ranking.css' %}" /> {% block extra_header %}{% endblock %}
</head>

<body class="dark">
	<header>
		{% include 'd120/header.html' %}
	</header>

	<main>

			<div id="main" class="main-area">

				<div class="sidebar-area">
					{% include 'd120/sidebar.html' %}
				</div>

				<div id="content" class="content-area">

					{% if request.session.orig_uid %}
					<div class="breadcrumbs">
						{% blocktranslate %}Du nutzt momentan die Rechte der Veranstalter von {{veranstaltung}}.{% endblocktranslate %} <a href="{% url 'feedback:rechte_zuruecknehmen' %}">{% translate "Zu meinem Account zurückkehren." %}</a>
					</div>
					{% endif %}
					

					{% if messages %}
					<ul class="messagelist">
						{% for message in messages %}
						<li class="{{ message.tags }}">{{ message }}</li>
						{% endfor %}
					</ul>
					{% endif %}
					

					{% block content %}{% endblock %}
					<br /> 
					{% block backlink %}{% endblock %}

				</div>

			</div>

	</main>

	<footer>
		{% include 'd120/footer.html' %}
	</footer>

    {% block javascript_block %}
		<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
		<script src="{% static '@popperjs/core/dist/umd/popper.min.js' %}"></script>
		<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

		<script src="{% static 'header_functions.js' %}"></script>
    {% endblock %}
</body>

</html>
