{% load staticfiles %}
<div class="container" id="header">
    <a href="https://www.fachschaft.informatik.tu-darmstadt.de"><img src="https://www.fachschaft.informatik.tu-darmstadt.de/static/d120/img/d120_logo.png" id="mainLogo" alt="D120: Fachschaft Informatik" class="pull-left"></a>
    <a href="https://www.tu-darmstadt.de" id="responsivelogo"><img src="https://www.fachschaft.informatik.tu-darmstadt.de/static/d120/img/tu_da_logo.png" alt="Technische Universität Darmstadt" class="pull-right"></a>
</div>
<nav class="navbar navbar-default">
    <div class="container">
        <ul class="header-navbar pull-right nav navbar-nav">
            <li class="active"><a href="https://www.fachschaft.informatik.tu-darmstadt.de/"><i class="fa fa-home fa-lg"></i> <span class="hidden-xs">Webseite</span></a></li>
            <li><a href="https://daswesentliche.fachschaft.informatik.tu-darmstadt.de/"><i class="fa fa-newspaper-o fa-lg"></i> <span class="hidden-xs">dasWESENtliche</span></a></li>
            <li><a href="https://www.fachschaft.informatik.tu-darmstadt.de/forum"><i class="fa fa-comments-o fa-lg"></i> <span class="hidden-xs">Forum</span></a></li>
            <li><a href="https://www.informatik.tu-darmstadt.de"><i class="fa fa-university fa-lg"></i> <span class="hidden-xs">Fachbereich</span></a></li>
        </ul>
    </div>
</nav>
