{% extends "d120_base.html" %}
{% load i18n %}

{% block section_veranstalter %}current{% endblock section_veranstalter %}
{% block title %}{% translate "Anmeldung" %}{% endblock title %}
{% block content %}
<div>
    <h1>{% translate "Anmeldung" %}</h1>

    <form method="post" action="{% url 'feedback:auth-user' %}">
        {% csrf_token %}
        <div>
            <label for="username">{% translate "Benutzername" %}:</label>
            <input type="text" id="username" name="username">
        </div>
        <div>
            <label for="password">{% translate "Password" %}:</label>
            <input type="password" id="password" name="password">
        </div>
        <button type="submit" class="primary">{% translate "Anmelden" %}</button>
    </form>
</div>
{% endblock content %}