{% extends "d120_base.html" %}

{% block section_veranstalter %}current{% endblock section_veranstalter %}
{% block title %}Login{% endblock title %}
{% block content %}
<form method="post" action="{% url "feedback:auth-user" %}">
    {% csrf_token %}
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>

    <input type="submit" value="Submit">
</form>
{% endblock content %}