@import url('../color-font.css');


.ui-accordion .ui-accordion-header {
    margin-bottom: 0;
    background: transparent;
    color: var(--main-theme-color);
    border: 1px solid var(--main-theme-color);
    padding: 15px;
    margin-top: 5px;
    transition: all 0.3s ease;
}

.ui-accordion .ui-accordion-header a, .ui-accordion .ui-accordion-content a {
    color: var(--link-color);
    text-decoration: none;
    border-bottom: 2px solid var(--link-bottom);
    transition: all 0.2s ease;
}

.ui-accordion .ui-accordion-header a:hover, .ui-accordion .ui-accordion-content a:hover {
    color: var(--link-hover);
    border-bottom-color: var(--link-hover);
}

.ui-accordion .ui-accordion-header-active {
    color: var(--main-theme-color);
    border-color: var(--accent-color);
    background: transparent;
    font-weight: bold;
}

.ui-accordion .ui-accordion-content {
    background: transparent;
    color: var(--main-theme-color);
    box-sizing: content-box;
    border: 1px solid var(--accent-color);
    border-top: none;
    padding: 20px;
    line-height: 1.6;
}

.mark_unmark {
    margin-bottom: 0.9em;
    margin-top: -0.9em;
    font-size: 80%;
}

.unattended_course {
    background-color: var(--unattended-course);
}






