@import url('../colors.css');

#sidebar {
    font-size: 18px;
    background-color: var(--main-background-color);
}

.sidebar-active {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sidebar-active li {
    list-style: none;
    padding: 0;
}


.sidebar-active li a {
    color: var(--sidebar-link-color);
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    border-left: 4px solid transparent;
}

.sidebar-active li:hover a {
    background-color: var(--sidebar-link-hover-bg-color);
    text-decoration: underline;
    border-left: 4px solid var(--main-theme-color);
}


.sidebar-active-item:first-child {
    padding-top: 10px;
}

.sidebar-active-item:last-child {
    padding-bottom: 10px;
}