@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto-italic.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto-slab.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


:root, .dark {
  /* Font Family Variables */
  --font-main: "Roboto", sans-serif;
  --font-second: "Roboto Slab", serif;

  /* Color Variables */
  --main-theme-color: #e0e0e0;
  --main-secondary-bg-color: #2c2c2c;
  --main-background-color: #181818;
  --warning: #f00;
  
  --header-link-highlight: #00d061;
  --header-link-highlight-bg: #2c2c2c;
  --header-dropdown-border: #bbb;
  --header-dropdown-bg: #181818;
  --header-dropdown-li-bg-highlight: #444;
  --header-dropdown-li-side-border: #e0e0e0;

  --sidebar-link-color:#e0e0e0;
  --sidebar-link-hover-bg-color: #2c2c2c;

  --form-required: #ffbcbc;
  --form-highlight: #00d061;
  --form-not-highlighted: #444;
  --form-main-color: #3aa3ae;
  --form-main-color-hover: #2f838d;
  --form-progressbar-disabled-active: #205c62;

  --progressbar-detail-color: #888;
  --progressbar-start-color: #6c5ce7;
  --progressbar-end-color: #a29bfe;

  --link-color:#a29bfe;
  --link-hover: #c4b5fd;
  --link-bottom: #444;

  --button-primary: #a29bfe;
  --button-primary-hover: #c4b5fd;
  --button-secondary-bg-hover: #222;

  --footer-bg-color: #222;
}

.light {
  /* Font Family Variables */
  --font-main: "Roboto", sans-serif;
  --font-second: "Roboto Slab", serif;

  /* Color Variables */
  --main-theme-color: #181818;
  --main-secondary-bg-color: #e3e3e3;
  --main-background-color: #fff;
  --warning: #f00;

  --header-link-highlight: #00a84e;
  --header-link-highlight-bg: #e3e3e3;
  --header-dropdown-border: #181818;
  --header-dropdown-bg: #fff;
  --header-dropdown-li-bg-highlight: #e3e3e3;
  --header-dropdown-li-side-border: #181818;

  --sidebar-link-color:#181818;
  --sidebar-link-hover-bg-color: #e3e3e3;

  --form-required: #ff5f5f; 
  --form-highlight: #00a84e; 
  --form-not-highlighted: #d1d1d1; 
  --form-main-color: #3aa3ae; 
  --form-main-color-hover: #2e828b;
  --form-progressbar-disabled-active: #b5e2e7; 

  --progressbar-detail-color: #999;
  --progressbar-start-color: #5f27cd;
  --progressbar-end-color: #9c88ff;

  --link-color:#5f27cd;
  --link-hover: #341f97;
  --link-bottom: #ccc;

  --button-primary: #5f27cd;
  --button-primary-hover: #341f97;
  --button-secondary-bg-hover: #ddd;

  --footer-bg-color: #eee;
}

.dark-only, .light-only {
    display: none;
}

html.dark .dark-only {
    display: block;
}

html.light .light-only {
    display: block;
}
