{% extends "bestellung_base.html" %}

{% block title %}Veranstalterbereich{% endblock %}

{% block content %}

<p>
	eingeloggt für <strong>{{veranstaltung.name}} ({{veranstaltung.semester.short}})</strong><br />
	<a href="{% url 'django.contrib.auth.views.logout' %}">ausloggen</a>
</p>

<h2>Fragebogenbestellung Schritt 2 von 5</h2>
<h3>Ablauf</h3>
<ol>
<li>Basisdaten</li>
<li><strong>Datenüberprüfung</strong></li>
<li>Freie Fragen</li>
<li>Details zur Übung</li>
<li>Zusammenfassung</li>
</ol>
<h3>Datenüberprüfung</h3>

<p>Bitte überprüfen Sie jetzt die Daten des Verantwortlichen <strong>{{ veranstaltung.verantwortlich }}</strong> 
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="weiter" />
</form>
{% endblock %}

{% block backlink %}<!-- kein Backlink -->{% endblock %}