{% extends "bestellung_base.html" %}
{% load i18n %}

{% block title %}{% translate "Veranstalterbereich" %}{% endblock %}

{% block content %}

<p>
	{% translate "eingeloggt für " %}<strong>{% blocktranslate %}{{veranstaltung.name}} ({{veranstaltung.semester.short}}){% endblocktranslate %}</strong><br />

    <form action = "{% url 'feedback:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-link p-0" style="color: #009D81;">{% translate "ausloggen" %}</button>
    </form>

</p>

<h2>{% translate "Fragebogenbestellung Schritt 2 von 5" %}</h2>
<h3>{% translate "Ablauf" %}</h3>
<ol>
<li>{% translate "Basisdaten" %}</li>
<li><strong>{% translate "Datenüberprüfung" %}</strong></li>
<li>{% translate "Freie Fragen" %}</li>
<li>{% translate "Details zur Übung" %}</li>
<li>{% translate "Zusammenfassung" %}</li>
</ol>
<h3>{% translate "Datenüberprüfung" %}</h3>

<p>{% translate "Bitte überprüfen Sie jetzt die Daten des Verantwortlichen " %}<strong>{% blocktranslate %}{{ veranstaltung.verantwortlich }}{% endblocktranslate %}</strong> 
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% translate "weiter" %}" />
</form>
{% endblock %}

{% block backlink %}<!-- kein Backlink -->{% endblock %}
