{% extends "bestellung_base.html" %}{% load staticfiles %}

{% block title %}Veranstalterbereich{% endblock %}

{% block content %}

<p>
	eingeloggt für <strong>{{veranstaltung.name}} ({{veranstaltung.semester.short}})</strong><br />
	<a href="{% url 'logout' %}">ausloggen</a>
</p>

<h2>Fragebogenbestellung Schritt 3 von 5</h2>
<h3>Ablauf</h3>
<ol>
<li>Basisdaten</li>
<li>Datenüberprüfung</li>
<li><strong>Freie Fragen</strong></li>
<li>Details zur Übung</li>
<li>Zusammenfassung</li>
</ol>
<h3>Freie Fragen</h3>
<img src="{% static "img/freiefragen.png" %}" alt="Freie Fragen Feld" width="600" height="71"/>

<p>Auf dem Fragebogen zu Ihrer Veranstaltung können Sie bis zu 
zwei selbst formulierte Fragen an die Studierenden stellen. 
Die Studierenden können jede der Fragen mit einem von fünf Werten zwischen 
&bdquo;<i>trifft zu</i>&ldquo; und &bdquo;<i>trifft nicht zu</i>&ldquo; beantworten.</p>

<p>
Bitte geben Sie hier Ihre freien Fragen ein. Falls Sie keine eigenen Fragen 
stellen möchten, klicken Sie einfach auf weiter.</p>
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="weiter" />
</form>
{% endblock %}

{% block backlink %}<!-- kein Backlink -->{% endblock %}
