<footer class="footer">
    <div class="container">
        <div class="footer-column">
            <div class="footer-group">
                <p><a href="https://www.fachschaft.informatik.tu-darmstadt.de">Startseite</a></p>
                <p><a href="https://www.fachschaft.informatik.tu-darmstadt.de/kontakt">Kontakt</a></p>
                <p><a href="https://www.fachschaft.informatik.tu-darmstadt.de/impressum">Impressum</a></p>
                <p><a href="https://www.fachschaft.informatik.tu-darmstadt.de/datenschutzerklarung">Datenschutzerklärung</a></p>
            </div>
            <div class="footer-group">
                <p><a href="https://www.facebook.com/d120.de" aria-label="Facebook"><i class="fa fa-fw fa-facebook" aria-hidden="true" title="Facebook"></i></a></p>
                <p><a href="https://twitter.com/d120de" aria-label="Twitter"><i class="fa fa-fw fa-twitter" aria-hidden="true" title="Twitter"></i></a></p>
                <p><a href="https://github.com/d120" aria-label="Github"><i class="fa fa-fw fa-github" aria-hidden="true" title="Github"></i></a></p>
            </div>
            <div class="footer-group" {% if not request.user.is_authenticated %}id="copyright"{% endif %}>
                <p>&copy; Fachschaft Informatik TU Darmstadt</p>
                {% if request.user.is_authenticated %}<p>Commit: {% current_commit_short '.' %}</p>{% endif %}
            </div>
        </div>
    </div>
</footer>
