{% load staticfiles %}
<nav class="navbar navbar-logos">
<div class="container" id="header">
    <a href="https://www.fachschaft.informatik.tu-darmstadt.de"><img src="{% static 'img/d120_logo.png' %}" id="mainLogo" alt="D120: Fachschaft Informatik" class="pull-left"></a>
    <a href="https://www.tu-darmstadt.de" id="responsivelogo"><img src="{% static 'img/tu_da_logo.png' %}" alt="Technische Universität Darmstadt" class="pull-right"></a>
</div>
</nav>
<nav class="navbar navbar-expand header-navbar" id="colored-navbar">
    <div class="container justify-content-end">
        <ul class="nav navbar-nav">
            <li class="nav-item header-navbar-item">
                <a class="nav-link header-navbar-link" href="https://www.fachschaft.informatik.tu-darmstadt.de">
                    <i class="fa fa-home fa-lg"></i> <span class="d-none d-sm-inline">Webseite</span>
                </a>
            </li>
            <li class="nav-item header-navbar-item">
                <a class="nav-link header-navbar-link" href="https://daswesentliche.fachschaft.informatik.tu-darmstadt.de">
                    <i class="fa fa-newspaper-o fa-lg"></i> <span class="d-none d-sm-inline">dasWESENtliche</span>
                </a>
            </li>
            <li class="nav-item header-navbar-item">
                <a class="nav-link header-navbar-link" href="https://www.informatik.tu-darmstadt.de">
                    <i class="fa fa-university fa-lg"></i> <span class="d-none d-sm-inline">Fachbereich</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
