{% load i18n %}

<nav id="sidebar">
  <ul class="sidebar-active">
    <li class="sidebar-active-item">
      <a href="https://www.fachschaft.informatik.tu-darmstadt.de/feedback-new/" title="Gehe zur Seite &quot;Feedback&quot;">{% translate "Feedback" %}</a>
    </li>
    <li class="sidebar-active-item">
      <a href="https://www.fachschaft.informatik.tu-darmstadt.de/feedback-faq/" title="Zeige Seite FAQ">{% translate "FAQ" %}</a>
    </li>
    <li class="sidebar-active-item">
      <a href="https://www.fachschaft.informatik.tu-darmstadt.de/hall-of-fame/" title="Zeige Seite Hall of Fame">{% translate "Hall of Fame" %}</a>
    </li>
    <li class="sidebar-active-item">
      <a href="{% if request.user.is_superuser %}{% url 'feedback:intern-ergebnisse' %}{% else %}{% url 'feedback:public-results' %}{% endif %}" title="Zeige Seite Ergebnisse">{% translate "Ergebnisse" %}</a>
    </li>
    <li class="sidebar-active-item">
      <a href="{% url 'feedback:veranstalter-index' %}" title="Zeige Seite Webinterface">{% translate "Webinterface" %}</a>
    </li>
    <li class="sidebar-active-item">
      <a href="{% url 'feedback:email-change-request' %}" title="Zeige Seite E-Mail ändern">{% translate "E-Mail ändern" %}</a>
    </li>
  </ul>
</nav>
