{% extends "ergebnisse_base.html" %}
{% load i18n %}
{% block title %}{% translate "Change Email" %}{% endblock %}

{% block content %}

<div>
    <h1>{% translate "Email Ändern" %}</h1>

    <p>{% blocktranslate %}
        Geben Sie unten Ihre neue E-Mail-Adresse ein. Sie erhalten ein Einmalpasswort (OTP), um Ihre neue E-Mail-Adresse zu bestätigen.
    {% endblocktranslate %}</p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="primary" type="submit">{% translate "OTP Anfordern" %}</button>
    </form>
</div>
{% endblock %}
