{% extends "ergebnisse_base.html" %} {% block title %}{{ v.name }} ({{ v.semester.short }}){% endblock %} {% block extra_header %}{% load static %}
<script type="text/javascript" src="{% static 'ranking.js' %}"></script>
{% endblock %} {% block content %}
<h1>{{ v.name }} ({{ v.semester.short }})</h1>
<p><a href="{% url 'public-results' %}?semester={{ v.semester.semester }}">zurück zur Übersicht</a></p>

{% if restricted %}
<p>Hinweis: Diese Ergebnisse sind momentan noch nicht öffentlich verfügbar.</p>
{% endif %}

<h2>Details</h2>
<table id="ranking_details">
    <tr>
        <th></th>
        <th>Note</th>
        <th>Antworten</th>
    </tr>
    {% for part, ergebnis in parts %}
    <tr>
        <th><a href="javascript:;" onclick="toggle('kategorie{{ forloop.counter }}');" style="color: black; white-space: nowrap;">{{ part.1 }}</a>
            <span id="kategorie{{ forloop.counter }}" style="display: none; font-weight: normal;">
    {% for question in part.2 %}
    <br />{{ question }}
    {% endfor %}
    </span>
        </th>
        <td>{{ ergebnis.0|floatformat:1 }}</td>
        <td>{{ ergebnis.1 }}</td>
    </tr>
    {% endfor %}
</table>
<p>Insgesamt abgegebene Fragebögen: {{ ergebnis.anzahl }}</p>
<p>Die ausführlichen Ergebnisse zu dieser Veranstaltung hat <em>{{ v.verantwortlich.full_name }}</em> per E-Mail erhalten.</p>

<h2>Legende</h2>
<ul>
    <li><strong>Note:</strong> Durchschnittsnote, gemittelt über alle abgegebenen Antworten</li>
    <li><strong>Antworten:</strong> Anzahl der abgegebenen Antworten</li>
</ul>
Die Fragen, die in die einzelnen Noten einfließen, werden nach einem Klick auf die jeweilige Kategorie angezeigt.

<h2>Kommentar der Veranstalter zum Ergebnis</h2> {% if kommentar %}
<p><em>von {{ kommentar.autor }}</em></p>
<p>{{ kommentar.text|linebreaksbr }}</p>
{% else %}
<p>Es wurde kein Kommentar hinterlegt.</p>
{% endif %} {% endblock %}
