{% extends "d120_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    {% translate "Veranstalterbereich" %}
{% endblock %}

{% block extra_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/veranstalter/dashboard.css' %}" />
{% endblock %}

{% block content %}

    <h1>
        <span class="header_veranst">{{ veranstaltung.name }}</span> - {% translate "Dashboard" %}
    </h1>

    <section>
        <h4>{% translate "Status" %}</h4>
        <span class="status-badge">{{ veranstaltung.get_status_display }}</span>
    </section>

    <section>
        <h4>{% translate "Log" %}</h4>
        <div>
            <table class="dashboardTable">
                <thead>
                    <tr>
                        <th>{% translate "Datum" %}</th>
                        <th>{% translate "Status" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs %}
                    <tr>
                        <td>{{ log.timestamp }}</td>
                        <td>{{ log.get_status_display }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    {% if bestellung %}
        <section>
            <div class="orderHeadContainer">
                <h4 class="subHeaderDashboard">{% translate "Aktuelle Bestellung" %}</h4>
                {% if allow_order %}
                    <button class="primary" onclick="window.location='{% url 'feedback:veranstalter-bestellung' %}';">
                        {% translate "Bestellung ändern" %}
                    </button>
                {% endif %}
            </div>

            <div class="dashboardOrderContainer">
                <table class="dashboardTable main-order-table">
                    {% for row in bestellung %}
                    <tr>
                        <th>{{ row.0 }}</th>
                        <td>{{ row.1 | linebreaksbr}}</td>
                    </tr>
                    {% endfor %}

                    {% if tutoren %}
                    <tr>
                        <th>{% translate "Tutoren" %}</th>
                        <td>
                            <table class="tableTutoren">
                                <thead>
                                    <tr>
                                        <th>{% translate "Num" %}</th>
                                        <th>{% translate "Vorname" %}</th>
                                        <th>{% translate "Nachname" %}</th>
                                        <th>{% translate "Email" %}</th>
                                        <th>{% translate "Anmerkung" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for tutor in tutoren %}
                                        <tr>
                                            <td>{{ tutor.nummer }}</td>
                                            <td>{{ tutor.vorname }}</td>
                                            <td>{{ tutor.nachname }}</td>
                                            <td>{{ tutor.email }}</td>
                                            <td>{{ tutor.anmerkung }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </section>
    {% else %}
        {% if allow_order %}
            <div class="empty-state">
                <button class="primary" onclick="window.location='{% url 'feedback:veranstalter-bestellung' %}';">
                    {% translate "Bestellung durchführen" %}
                </button>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}

{% block backlink %}
    <!-- kein Backlink -->
{% endblock %}

{% block extra_javascript_block %}
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>

<script>
    {% if bestellung %}
    $(document).ready(function() {
        create_csv_table(
                $("#table_tutoren_csvview"),
                $("#table_tutoren_csvview").val()
        );
    });
    {% endif %}
</script>
{% endblock %}
