{% extends "bestellung_base.html" %}
{% load i18n %}
{% block title %}
    {% translate "Veranstalterbereich" %}
{% endblock %}
{% block content %}

    <h1>{% translate "Herzlich willkommen!" %}</h1>

    <p>
        {% blocktranslate %}eingeloggt für <strong>{{veranstaltung.name}} ({{veranstaltung.semester.short}})</strong>{% endblocktranslate %}
	    <br />
	    <a href="{% url 'feedback:logout' %}">{% translate "ausloggen" %}</a>
    </p>

    {% if order_form and veranstaltung.semester.vollerhebung %}
        <h2>{% translate "Information zur Vollerhebung" %}</h2>
        {% blocktranslate %}
        In diesem Semester findet eine Vollerhebung aller Lehrveranstaltungen am Fachbereich Informatik statt.
        Die Teilnahme an der Evaluation der Lehre ist somit laut §4 Abs. 9 Richtlinien für den Bereich der
        Lehrveranstaltungsevaluation der Technischen Universität Darmstadt veröffentlicht in der
        <a href="https://www.intern.tu-darmstadt.de/media/dezernat_ii/satzungsbeilagen/sb_14_III.pdf">Satzungsbeilage 2014-III</a>
        <strong>verpflichtend</strong> für alle Lehrveranstaltungen. Falls Ihre Veranstaltung eine Service-Veranstaltung
        ist und die Evaluation durch einen anderen Fachbereich durchgeführt wird setzen Sie sich bitte mit uns in Verbindung:
        <a href="mailto:feedback@fachschaft.informatik.tu-darmstadt.de">feedback@fachschaft.informatik.tu-darmstadt.de</a>
        {% endblocktranslate %}
    {% endif %}

    <h2>{% translate "Fragebogenbestellung Schritt 1 von 5" %}</h2>
    <h3>{% translate "Ablauf" %}</h3>

    <ol>
	    <li><strong>{% translate "Basisdaten" %}</strong></li>
	    <li>{% translate "Datenüberprüfung" %}</li>
	    <li>{% translate "Freie Fragen" %}</li>
	    <li>{% translate "Details zur Übung" %}</li>
	    <li>{% translate "Zusammenfassung" %}</li>
    </ol>

    <h3>{% translate "Basisdaten" %}</h3>
    {% if not order_form %}
        <p>
            {% translate "Im Moment können keine Fragebögen bestellt werden. Sie erhalten eine E-Mail, sobald dies wieder möglich ist." %}
        </p>
    {% else %}
        <p>{% translate "Bitte geben Sie an, wie viele Fragebögen Sie in welcher Sprache benötigen." %}
            {% if paper_dict|length > 0 %}
                {% translate "Zur Orientierung finden Sie hier die Anzahl bestellter und ausgefüllter Bögen vergangener Semester:" %}</p>
                <table>
                    <tr>
                        <th>{% translate "Semester" %}</th>
                        <th>{% translate "Bestellte Bögen" %}</th>
                        <th>{% translate "Ausgefüllte Bögen" %}</th>
                    </tr>
                    {% for cur_sem in paper_dict %}
                        <tr>
                            <td>{{ cur_sem.veranstaltung.semester }}</td>
                            <td>{{ cur_sem.anzahl_bestellung }}</td>
                            <td>{{ cur_sem.anzahl_ruecklauf }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                </p>
            {% endif %}


        <form action="" method="post" enctype="multipart/form-data" accept-charset="utf-8">
            {% csrf_token %}
            <table>{{order_form}}</table>
	        <div>
		        <input type="submit" name="submit" value="{% translate "Weiter" %}" />&nbsp;
		        <input type="reset" name="reset" value="{% translate "Zurücksetzen" %}" />
	        </div>
        </form>
    {% endif %}


    <h2>{% translate "Kommentar" %}</h2>
    {% if not comment_form %}
        <p>
            {% translate "Für diese Veranstaltung können im Moment noch keine Kommentare verfasst werden.
            Sie erhalten eine E-Mail, sobald dies möglich ist." %}
        </p>
    {% else %}
        <p>{% blocktranslate with ergebnis_url={% url 'feedback:public-veranstaltung' veranstaltung.id %} %}
            Sie können hier einen Kommentar zum
            <a href="{{ergebnis_url}}">Evaluationsergebnis</a> verfassen.
            Dieser Kommentar wird auf der zugehörigen Ergebnis-Seite hochschul-öffentlich angezeigt werden.
            {% endblocktranslate %}
        </p>

        <p>{% translate "Um einen Kommentar wieder zu entfernen, löschen Sie bitte den vorhandenen Kommentartext." %}</p>

        <form action="" method="post" enctype="multipart/form-data" accept-charset="utf-8">
            {% csrf_token %}
	        <table>{{comment_form}}</table>
	        <div>
		        <input type="submit" name="submit" value="{% translate "Speichern" %}" />&nbsp;
		        <input type="reset" name="reset" value="{% translate "Zurücksetzen" %}" />
	        </div>
        </form>
    {% endif %}
{% endblock %}
{% block backlink %}
    <!-- kein Backlink -->
{% endblock %}
