{% extends "bestellung_base.html" %}
{% load i18n %}
{% block title %}
    {% translate "Login benötigt" %}
{% endblock %}

{% block content %}
    <h1>{% translate "Login benötigt" %}</h1>

    <p>{% blocktranslate %}
        Diese Seite können Sie nur aufrufen, wenn Sie sie über den Login-Link aus einer E-Mail,
        die wir Ihnen in Ihrer Eigenschaft als Veranstalter gesendet haben, aufrufen.
        Wenn Sie diese E-Mail nicht (mehr) besitzen, melden Sie sich bitte beim
        <a href="mailto:feedback@fachschaft.informatik.tu-darmstadt.de">Feedback-Team</a>.
        Wir bitten für die Unannehmlichkeiten um Entschuldigung.
        {% endblocktranslate %}
    </p>

    <p><a href="{% url 'auth-login' %}">{% translate "zum Admin-Login" %}</a></p>
{% endblock %}
